/*-------------------------------------------------*/
/*-----------style sheet for fb_hack---------------*/
/*-------------------------------------------------*/

body {
	font-family: "Raleway", sans-serif;
    padding: 0px;
    margin: 0px auto;
    background-color: #FFFFFF;
}

#frame {
    margin: 0px auto;
}

#main {
    min-height: 680px;
    margin: 0px;
    text-align: center;

}

/*-------navigation-------*/

#top {
    background-color: #005580;
    text-align: center;
    padding: 0.5%;
    color: #FFF;
    line-height: 12px;
    font-family: sans-serif;
}


/*-----------home.php---------------*/

#image {
    background-image: url("../img/cover.jpg");
    background-size: cover;
    min-height: 750px;
}

#searchbox {
    margin: 0 auto;
    text-align: center;
    padding-top: 15%;
    line-height: 40px;
    color: #FFFFFF;
}

#destination {
    padding: 1.5%;
}

#destination input[placeholder] {
    font-size: 1.5em;
}

.destination_input {
    width: 500px;
    height: 50px;
}


#date input[type=date] {
    width: 170px;
    height: 2em;
    
}

#submit {
    padding: 1.5%;
    
}

#submit input[type=submit]{
    width: 500px;
    height: 50px;
    font-size: 5em;
}


.right{
    float: right;
    width: 40%;
} 

.left{

    float: left;
    width: 40% ;
}
/*-----------sightseeing.php---------------*/
#category {
    width: 80%;
    float:left;
    height: auto;
    padding-bottom: 5%;
    padding-top: 30px;
    /*position: fixed;*/
}

#cart {
    float:right;
    background-color: #D2D2D2;
    width: 20%;

    
}

#food {
    padding: 1.5%;
    line-height: 50px;
}

#food input[placeholder]{
    font-size: 1em;
}

.food_input {
    width: 500px;
    height: 50px;
}

input.button {
    width: 100px;
    font-size: 1em;
    margin-left: 2%;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#rec {
    padding: 0 20%;
    border: thin black;
}

table{
    width: 100%;
    padding-top: 5%;
}

.display {
    text-align: center;
}

.display a{
    color: #66534e;
}

.display table{
    padding: 2%;
}

.row{
    margin-bottom: 2%;
}
/*-----------bottom---------------*/
#clearboth{
    clear: both;
}

#bottom {
    margin-top: -1.5%;
    background-color: #403f41;
    text-align: center;
    padding: 0.5%;
    color: #FFF;
    line-height: 12px;
}