/*-------------------------------------------------*/
/*-----------style sheet for fb_hack---------------*/
/*-------------------------------------------------*/

body {
	font-family: "Raleway", sans-serif;
    padding: 0px;
    margin: 0px auto;
    background-color: #FFFFFF;
}

#frame {
    margin: 0px auto;
}

#home_main {
    margin: 0px;
    text-align: center;
    color: #FFFFFF;
}

#main {
    min-height: 680px;
    margin: 0px;
    text-align: center;

}

/*-------navigation-------*/

#top {
    background-color: #477ed1;
    padding-left: 17%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #FFF;
    line-height: 12px;
    font-family: Avenir Next;
}


/*-----------home.php---------------*/

#image {
    background-image: url("../img/cover.jpg");
    background-size: cover;
    min-height: 750px;
}

#searchbox {
    margin: 0 auto;
    text-align: center;
    padding-top: 8%;
    line-height: 40px;
    color: #FFFFFF;
}

#destination {
    padding: 1.5%;
}

#stay {
    padding: 1.5%;
}

#stay input[placeholder] {
    font-size: 1.5em;
}

#destination input[placeholder] {
    font-size: 1.5em;
}


.destination_input {
    width: 500px;
    height: 50px;
}


.date input[type=date] {
    width: 170px;
    height: 2em;
    
}

#submit {
    padding: 1.5%;
    
}

#submit input[type=submit]{
    width: 500px;
    height: 50px;
    font-size: 1em;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}


.right{
    float: right;
    width: 40%;
} 

.left{

    float: left;
    width: 40% ;
}
/*-----------sightseeing.php---------------*/
#category {
    width: 75%;
    float: left;
    height: auto;
    padding-bottom: 5%;
    padding-top: 30px;
    padding-left: 18%;
    /*position: fixed;*/
}

#category h2 {
    text-align: left;
    font-size: 2em;
    font-weight: 400;
}

#cart {
    float:right;
    background-color: #ebf1fa;
    width: 25%;
    margin-left: -20%;
    padding-left: 2%;
}

#food {
    text-align: left;
    padding: 0%;
    line-height: 50px;
}

#food input[placeholder]{
    font-size: 1em;
}

#food button[placeholder] {
    font-size: 1em;
}

.food_input {
    width: 500px;
    height: 50px;
}

input.button {
    width: 100px;
    font-size: 1em;
    margin-left: 2%;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

input.addPlace {
    width: 200px;
    font-size: 1em;
    margin-top: 3%;
    padding: 10px;
    line-height: 20px;
}

button.button {
    width: 100px;
    font-size: 1em;
    margin-left: 2%;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button.add {
    width: 80px;
    font-size: 1em;
}

button.addPlace {
    margin-top: 2%;
    width: 400px;
    background-color: #D8D8D8; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
    opacity: 0.75;
}

input.button:hover {
    opacity: 0.75;
}

#rec {
    padding-right: 30%;
    margin-left: -3%;
    border: thin black;
}

table{
    width: 100%;
    padding-top: 5%;
}

.display {
    text-align: center;
}

.display a{
    color: #66534e;
}

.display table{
    padding: 2%;
}

.row{
    margin-bottom: 2%;
}

#sightseeingForm {
    text-align: left;
    
}

.finalResult{
    text-align: left;
    margin-left: 17%;
}
/*-----------bottom---------------*/
#clearboth{
    clear: both;
}

#bottom {
    margin-top: -1.5%;
    background-color: #403f41;
    text-align: center;
    padding: 0.5%;
    color: #FFF;
    line-height: 12px;
}